header {
    margin-bottom: 26px;
}

header h1 {
    margin-bottom: 22px;
}

header :nth-child(2) {
    margin-bottom: 10px;
}

header .logo {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    place-items: center;
}

hr {
    border: 1px solid;
    border-color: #F5F6F7;
    width: 100%;
}

.hr-vertical {
    width: 1px;
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}

.categorias {
    width: 1250px;
    align-items: center;
    height: 45px;
    font-weight: 700;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
}

.categorias p {
    margin-bottom: 5px;
}

.container {
    width: 1250px;
    display: flex;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

main h1 {
    color: #c4160c;
    font-weight: 700;
    font-size: 52px;
}

main h2 {
    font-weight: 500;
    font-size: 18px;
    color: #303134;
}

article {
    width: 1250px;
    display: flex;
    justify-content: space-between;
}
.g1{
    max-width: 193px;
}

.noticia img {
    border-radius: 12px;
    width: 240px;
    height: 128px;
}

.noticias-principais {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.noticias-principais .g1 img {
    width: 193px;
    height: 110px;
}

.noticias-secundarias {
    display: flex;
    justify-content: space-between;
}

.noticias-secundarias > .noticia {
    max-width: 193px;
}

.noticia h1 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
}

.noticia h2 {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    color: #2F3134;
}

.noticia {
    font-weight: 400;
    font-size: 14px;
    color: #2F3134;
}

.ge, .gshow{
    max-width: 240px;
}

.sectionG1 {
    max-width: 650px;
}

.sectionGe, .sectionGshow {
    height: 830px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionGshow {
    height: 790px;
}

.sectionGe h1 {
    color: #16AE54;
}

.sectionGshow h1 {
    color: #EC8006;
}

.sectionG1 :nth-child(4) {
    margin-top: 15px;
    margin-bottom: 17px;
}